<ul class="candidates">
    <li class="list-group" *ngFor="let candidate of candidates">
        
        <a routerLink='/candidate/{{candidate.id}}'><span class="badge badge-light">{{candidate.name}}</span></a>
    </li>
</ul>