<div *ngIf="candidate">
    <div class="card">
        <h3>{{candidate.name}}</h3>
        <div class="card-body">
            <h4>Skills</h4>
            <p class="card-text">{{candidate.skills}}</p>
        </div>
    </div>
</div>