<ul class="nav">
  <li class="nav-item">
    <a routerLink="/candidates" class="nav-link">Candidates</a>
  </li>
  <li class="nav-item">
    <a routerLink="/jobs" class="nav-link">Jobs</a>
  </li>
</ul>

<router-outlet></router-outlet>