<div *ngIf="job">
    <div class="card">
        <h2>{{job.company}}</h2>
        <h3>{{job.name}}</h3>
        <div class="card-body">
            <h4>Skills</h4>
            <p class="card-text">{{job.skills}}</p>
            <h3>Best Candidates</h3>
            <ul class="bestCandidates">
                    <li class="list-group" *ngFor="let candidate of bestCandidates">
                        <h4>{{candidate.name}}</h4>
                        <h3>{{candidate.skills}}</h3>
                    </li>
                </ul>
        </div>
    </div>
</div>